<!DOCTYPE html>
<html lang="es">
    <head>
        <title>CamiloTomos</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, maximum-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../static/css/normalize.css">
        <link rel="stylesheet" href="../static/css/estilos.css">
         <link rel="stylesheet" href="../static/css/estilos3.css">
    </head>
    <body>

    <!--Se crea la clase contender para colocar 
    fondo a todo el diseño -->
    <section class="Contender">

        <header id="yo" class="Header">
            <button class="Header-button is-active icon-showMenu" id="showMenu"></button>
            <button class="Header-button icon-hideMenu" id="hideMenu"></button>
            <nav class="MainMenu" id="menu">
                <ul class="MainMenu-list">
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="index.html">Inicio</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="miperfil.html">Mi Perfil</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link-u" href="experiencia.html">Experiencia Laboral</a>
                    </li>
                    <li class="MainMenu-item">
                       <a class="MainMenu-link" href="servicios.html">Servicios</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="https://docs.google.com/forms/d/e/1FAIpQLSdXGnQjuWP9gudGCUpvEHpfYc_AN5hBEyfV_-U0by4tjdzTNw/viewform?embedded=true" width="300" height="300" target="_blank" >Contacto</a>
                    </li>
                </ul>
            </nav>
            <figure class="Header-imageContainer">
                <img style="border:none;" src="../static/images/fotos/AVATAR200.jpg" alt="Imagen personal" class="Header-image"/>
                <figcaption class="Header-imageDescription">
                    <a class="Header-link" href="http://twitter.com/nhekshadow/" target="_black">@nhekshadow</a>
                </figcaption>
            </figure>
            <p class="Header-name" >Camilo Torres Mosquera</p>
        </header>

        

        <section id="perfil" class="Profile">
            <div class="u-containerDefault">
                <h2 class="Profile-title u-title"></h2>
                <p class="Profile-description">
                    La experiencia es algo que nos permite hablar con seguridad de algo que pensamos en conocer pero después de estudiar, manejar, aplicar y experimentar terminamos dominando y esos conocimientos extras son los que nos añaden valor.
                </p>
               
            </div>
          
        
                    
        <section id="trabajo" class="Work">
            <div class="u-containerDefault">
                <h2 class="Work-title u-title">Detalle de la Experiencia Laboral</h2>
            </div>
            <!-- Perfil y fotos de muestra -->

              

                    <section class="experiencia">
                        <article class="experiencia.item">
                            <h2 class="Work-title u-title">INFOTRACK S.A</h2>
                            <table>
                                <thead>
                                                        
                                </tr>
                                </thead>
                                <tbody>

                                <tr >                       
                                
                                <tr class="tbcolor">
                                    <th>Cargo:</th>
                                    <td>INGENIERO DE SOPORTE</td>
                                </tr>
                                <tr>
                                    <th>Labores:</th>
                                    <td>DIAGNOSTICO, INSTALACIÓN, CONFIGURACIÓN DE TERMINALES MÓVILES, MANEJO DE REPORTES, 
                                        INVENTARIOS, MANTENIMIENTO PREVENTIVO, CORRECTIVO Y SOPORTE EN SITIO, VÍA WEB Y CONTACTO DIRECTO CON CLIENTES Y OPERARIOS FINALES. CAPACITACIONES, ENTRENAMIENTOS APOYO EN SALIDAS A PRODUCTIVO, PARTICIPACIÓN EN IMPLEMENTACIÓN DE PROYECTOS TECNOLÓGICOS</td>
                                </tr>

                                <tr class="tbcolor">
                                    <th>Periodo:</th>
                                    <td>10/04/2010 - ACTUALMENTE</td>
                                </tr>
                                
                                </tbody>
                            </table>
                        </article>
                    </section>

                    <!-- espacio entre tablas -->

                              <section>
                               <table> 
                                <tr>  
                                </tr>
                            </table>
                            </section>
                    <!-- fin espacio entre tablas -->

                    <section class="experiencia">
                        <article class="experiencia.item">
                            <h2 class="Work-title u-title">GESTIÓN PROFESIONAL</h2>
                            <table>
                                <thead>
                                                        
                                </tr>
                                </thead>
                                <tbody> 
                                
                                <tr class="tbcolor">
                                    <th>Cargo:</th>
                                    <td>INGENIERO DE SOPORTE</td>
                                </tr>
                                <tr>
                                    <th>Labores:</th>
                                    <td>CONFIGURACIÓN, MANTENIMIENTO Y SOPORTE EN SITIO A TERMINALES MÓVILES HAND HELD PARA TOMA DE PEDIDOS, VENTAS, AUTO VENTAS Y DISTRIBUCIÓN EN LA INSTALACIONES DE CERVECERÍA UNIÓN ITAGÜÍ</td>
                                </tr>

                                <tr class="tbcolor">
                                    <th>Periodo:</th>
                                    <td>TRES (3) MESES</td>
                                </tr>
                                <tr>
                                    <th>Fechas:</th>
                                    <td>03/11/2009 - 30/01/2010</td>
                                </tr>
                                </tbody>
                            </table>
                        </article>
                    </section>

                    <!-- espacio entre tablas -->

                              <section>
                               <table> 
                                <tr>  
                                </tr>
                            </table>
                            </section>
                    <!-- fin espacio entre tablas -->


                    <section class="experiencia">
                        <article class="experiencia.item">
                            <h2 class="Work-title u-title">INSTITUTO DE CIENCIAS APLICADAS (INDECAP)</h2>
                            <table>
                                <thead>
                                                        
                                </tr>
                                </thead>
                                <tbody>                 
                                <tr class="tbcolor">
                                    <th>Cargo:</th>
                                    <td>DOCENTE</td>
                                </tr>
                                <tr>
                                    <th>Labores:</th>
                                    <td>DOCENTE DEL ÁREA DE TECNOLOGÍA, GESTIÓN EMPRESARIAL, MATEMÁTICAS PARA LOS DIFERENTES CLEIS Y SISTEMAS PARA LOS GRUPOS TÉCNICOS</td>
                                </tr>

                                <tr class="tbcolor">
                                    <th>Periodo:</th>
                                    <td>NUEVE (9) MESES</td>
                                </tr>
                                <tr>
                                    <th>Fechas:</th>
                                    <td>15/02/2009 - 31/10/2009</td>
                                </tr>
                                </tbody>
                            </table>
                        </article>
                    </section>

                    <!-- espacio entre tablas -->

                              <section>
                               <table> 
                                <tr>  
                                </tr>
                            </table>
                            </section>
                    <!-- fin espacio entre tablas -->

                    <section class="experiencia">
                        <article class="experiencia.item">
                            <h2 class="Work-title u-title">INSTITUCIÓN UNIVERSITARIA DE ENVIGADO</h2>
                            <table>
                                <thead>
                                                        
                                </tr>
                                </thead>
                                <tbody>

                                <tr class="tbcolor">
                                    <th>Cargo:</th>
                                    <td>TALLERISTA</td>
                                </tr>
                               <tr>
                                    <th>Labores:</th>
                                    <td>DOCENTE DEL ÁREA DE INFORMÁTICA PARA LOS GRUPOS PREESCOLAR AL GRADO QUINTO EN LA INSTITUCIÓN EDUCATIVA MARIE PUSSEPAN</td>
                                </tr>

                                <tr class="tbcolor">
                                    <th>Periodo:</th>
                                    <td>TRES (3) MESES</td>
                                </tr>
                                <tr>
                                    <th>Fechas:</th>
                                    <td>01/09/2008 - 28/11/2008</td>
                                </tr>
                                </tbody>
                            </table>
                        </article>
                    </section>      

                </section>


<!-- barra de navegacion inferior -->


         <section id="perfil" class="Profile">
            <div class="u-containerDefault">
                <h2 class="Profile-title u-title">Conoce un poco más de mi Hoja de Vida</h2>
                <p class="Profile-description">
                    Aquí podrás encontrar un poco más de información de mi trayectoria personal y profesión que te permitirá conocer y/o hacerte una idea de las metas y logros alcanzado en mi trayecto de vida.
                </p>
                <p>
                    Anímate y continua investigando...   
                </p>

            </div>

    <section id="perfil" class="profile">
       
    <nav class="nav-perfil">
            <ul class="nul">
                <li class="nil"><a class="na"  href="academico.html">Académico</a></li>
                <li class="nil"><a class="na" href="proconte.html">Proyectos y Conocimientos Profesionales</a></li>
                <li class="nil"><a class="na-u" href="experiencia.html">Experiencia Laboral</a></li>
                <li class="nil"><a class="na" href="reffam.html">Referencias</a></li>
            </ul>

        </nav>

    
        </div>
<!--CONTENIDO DE DISEÑO WEB -->

        <div>
            
        </div>
    </section><!-- --> 
         </section><!-- --> 
         </section><!-- --> 
              
              
        
        <footer id="contacto" class="Footer">
           <div class="Footer-left">
                
                <p class="Footer-description">
                    Si tienes alguna sugerencia o quieres que te preste mis servicios ponte en contacto diligenciando este pequeño formulario
                </p>
                
                <a class="MainMenu-link" href="https://docs.google.com/forms/d/e/1FAIpQLSdXGnQjuWP9gudGCUpvEHpfYc_AN5hBEyfV_-U0by4tjdzTNw/viewform?embedded=true"target="_black" width="300" height="300">
                <button class="Footer-button"> Contactarme </button> 
                </a>
            </div>
            <form class="Footer-form">
               
            </form>
        </footer>
        <script src="http://code.jquery.com/jquery-2.2.0.min.js" ></script>
        <script src="../static/js/vendors/responsiveslides.min.js" ></script>
        <script src="../static/js/vendors/hammer.min.js"></script>

        <script>
        $(function() {
        $(".rslides").responsiveSlides();

        if (window.matchMedia("(max-width:768px)").matches){
            
        var $buttonShowMenu = document.getElementById('showMenu');
        var $buttonHideMenu = document.getElementById('hideMenu');
        var $menu = document.getElementById('menu');
        
        var $body = document.querySelector('body');

        var body = new Hammer($body);


        var showMenu = function(){
            $buttonShowMenu.classList.remove('is-active');
            $buttonHideMenu.classList.add('is-active');
            $menu.classList.add('is-active');
        };

        var hideMenu = function(){
            $buttonShowMenu.classList.add('is-active');
            $buttonHideMenu.classList.remove('is-active');
            $menu.classList.remove('is-active');
        };

        $buttonShowMenu.addEventListener("click", showMenu);

        $buttonHideMenu.addEventListener("click", hideMenu);

        body.on('panright', showMenu);
        body.on('panleft', hideMenu);

        }
        else
        {
            
        }

        });
        </script>
           
    </body>
</html>
